h1 {
    text-align: center;
  }
  .card-products-container {
    margin: 10vh auto;
    text-align: center;
  }
  
  .card-products {
    display: inline-block;
    text-align: center;
    margin: 0 30px;
  }
  
  .card-products img {
    height: 180px;
  }
  
  .card-products h3,
  .card-products .price {
    margin-top: 10px;
  }
  
  .card-products button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #9fcb1b;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 15px;
  }
  .card-products button:hover { 
    background-color: #c4fe15;
  }
  .emoji-buttons-container {
    text-align: center;
  }

  .emoji-button {
    background-color: #9fcb1b;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
  }
  
  /* Hover effect */
  .emoji-button:hover {
    background-color: #c4fe15;
    cursor:pointer;
  }